<%- include('partials/header'); -%>

<header>
    <div class="container">
        <div class="main">
            <div class="links">
                <a href="/admin">
                  ADMIN
                </a>
                <a href="/">
                  HJEM
                </a>
              </div>
            <div class="innhold">
                <h1>
                    Hvordan fungerer admin siden?
                </h1>
            </div>

            <h2 id="1">HVORDAN LEGGE TIL NYE PRODUKTER</h2>
            <div class = "guide-cont">
                <h3>Fyll inn tillpassende informasjon i riktig felt, som vist på bildet.</h3>
                <img src="/IMG/a1.png" alt="Bilde tekst">
            </div>

            <h2 id="1">HVORDAN OPPDATERE PRODUKTER</h2>
            <div class = "guide-cont">
                <h3>Finn artikkelnummeret til produktet, og fyll inn tillpassende informasjon, som vist på bildet.</h3>
                <img src="/IMG/a2.png" alt="Bilde tekst">
            </div>

            <h2 id="1">HVORDAN SLETTE PRODUKTER</h2>
            <div class = "guide-cont">
                <h3>Finn artikkelnummeret til produktet og trykk på slett produkt.</h3>
                <img src="/IMG/a3.png" alt="Bilde tekst">
            </div>
        
        
        
        </div>
    </div>
  <div class="headings">
 

    </div>
</header>


<%- include('partials/footer'); -%>