<%- include('partials/header'); -%>

<header>
    <div class="links">
        <a href="/admin/veileder">
          VEILEDNING
        </a>
        <a href="/">
          HJEM
        </a>
      </div>

      <h1 id="form-admin">Legg til nytt produkt</h1>
    <div class="form-cont">
      <form>
        <label for="TITTEL">TITTEL</label>
        <input type="text" name="TITTEL">
        <label for="MODELL">MODELL</label>
        <input type="text" name="MODELL">
        <label for="MERKE">MERKE</label>
        <input type="text" name="MERKE">
        <label for="PRIS">PRIS</label>
        <input type="number" name="PRIS">
        <label for="ARTIKKELNUMMER">ARTIKKELNUMMER</label>
        <input type="text" name="ARTIKKELNUMMER">
        <button id="formsubmit" type="button">Legg til produkt</button>
      </form>
    </div>

  </div>
</header>
<script src="/JS/admin.js"></script>


<%- include('partials/footer'); -%>