<%- include('partials/header'); -%>

<header>
    <div class="links">
        <a href="/admin/veileder">
          VEILEDNING
        </a>
        <a href="/">
          HJEM
        </a>
      </div>

      <h1 class="form-admin">Legg til nytt produkt</h1>
    <div class="form-cont">
      <form>
        <label for="TITTEL">TITTEL</label>
        <input type="text" name="TITTEL">
        <label for="MODELL">MODELL</label>
        <input type="text" name="MODELL">
        <label for="MERKE">MERKE</label>
        <input type="text" name="MERKE">
        <label for="PRIS">PRIS</label>
        <input type="number" name="PRIS">
        <label for="ARTIKKELNUMMER">ARTIKKELNUMMER</label>
        <input type="text" name="ARTIKKELNUMMER">
        <button id="formsubmit" type="button">Legg til produkt</button>
      </form>
    </div>

    <h1 class="form-admin">Oppdater eksisterende produkt</h1>
    <div class="form-cont">
      <form class="formupdate">
        <label for="ARTIKKELNUMMERupdate">EKISTERENDE ARTIKKELNUMMER</label>
        <input type="text" name="ARTIKKELNUMMERupdate">
        <label for="TITTELupdate">TITTEL</label>
        <input type="text" name="TITTELupdate">
        <label for="MODELLupdate">MODELL</label>
        <input type="text" name="MODELLupdate">
        <label for="MERKEupdate">MERKE</label>
        <input type="text" name="MERKEupdate">
        <label for="PRISupdate">PRIS</label>
        <input type="number" name="PRISupdate">

        <button id="formsubmitupdate" type="button">Oppdater</button>
      </form>
    </div>

    <h1 class="form-admin">Slett et produkt</h1>
    <div class="form-cont">
      <form class="formdelete">
        <label for="ARTIKKELNUMMERdelete">EKISTERENDE ARTIKKELNUMMER</label>
        <input type="text" name="ARTIKKELNUMMERdelete">

        <button id="formsubmitdelete" type="button">Slett produkt</button>
      </form>
    </div>

  </div>
</header>
<script src="/JS/admin.js"></script>


<%- include('partials/footer'); -%>