<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h1>Samling av produktene:</h1>
    <div class="nut-container">
      <%if(Product.length > 0){%>
        <%Product.forEach(shoe => {%>
            <p><%=shoe.name%></p>
        <%})%>
      <%}else{%>
        <p>THERES NOTHING TO DISPLAY</p>
      <%}%>
    </div>
    <h2>Legg til nytt produkt</h2>
    <form>
      <label for="TITTEL">TITTEL</label>
      <input type="text" name="TITTEL">
      <label for="MODELL">MODELL</label>
      <input type="text" name="MODELL">
      <label for="MERKE">MERKE</label>
      <input type="text" name="MERKE">
      <label for="PRIS">PRIS</label>
      <input type="number" name="PRIS">
      <label for="ARTIKKELNUMMER">ARTIKKELNUMMER</label>
      <input type="text" name="ARTIKKELNUMMER">
    </form>
  </div>
</header>

<script>
  
    const form = document.querySelector("form");
    const nutcont = document.querySelector(".nut-container");


    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      //form values
      const TITTEL = form.TITTEL.value
      const MODELL = form.MODELL.value
      const MERKE = form.MERKE.value
      const PRIS = form.PRIS.value
      const ARTIKKELNUMMER = form.ARTIKKELNUMMER.value

      try {
            //sender data som lager bruker
            const res = await fetch('/',{
                method: 'post',
                body: JSON.stringify({tittel: TITTEL, modell: MODELL, merke: MERKE, pris: PRIS, artikkelnummer: ARTIKKELNUMMER}),
                headers: {'Content-Type': 'application/json'}
            })
            const shoe = await res.json();

            notcont.innerHTML = 
            `
            <p>${TITTEL}</p>
            <p>${MODELL}</p>
            <p>${MERKE}</p>
            <p>${PRIS}kr</p>
            <p>${ARTIKKELNUMMER}</p>
            `           
            console.log(user);

        } catch (err) {
            console.log(err)
        }

    })

</script>


<%- include('partials/footer'); -%>